footer {
	background:black;

	&.hidden {
		display:none;
	}
}
.footer-cases {
	cursor:pointer;
	background:#1a1a1a;
	overflow:hidden;
}
.footer-cases:before {
	content: "";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:5px;
	background:white;
	transform-origin: 50% 100%;
	@include translateY(5px);

	@include transition(transform .34s);
}

.footer-cases:hover {

	&:before {
		@include translateY(0px);
		opacity:1;
		@include transition(transform .34s);
	}

	.footer-cases-text {
		@include translateY(10px);

		@include transition(transform .7s);
	}

	.footer-cases-text:before {
		opacity: 1;
		@include translate(-50%, -20px);
		@include transition(transform .7s, opacity, .7s);
	}
}

.footer-cases-text {
	text-align:center;
	font-weight:bold;
	margin:40px 0;
	color:white;

	@include translateY(0px);
	@include transition(transform .7s);
}
.footer-cases-text:before {
	content:"VIEW";
	position: absolute;
	left:50%;
	opacity: 0;
	@include translate(-50%, 40px);

	@include transition(transform .7s, opacity, .7s);

}

