.section-header {
	width: 100%;
	height: 100vh;
	background-color: #fff !important;
}

.header-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	&:after {
		content: '';
		background-color: rgba(0, 0, 0, .5);

		position: absolute;
		width: 100%;
		height: 100%;

		top: 0;
		left: 0;
	}
}

.case-header-title {
	font-size: 120px;
}
.video-header-homepage {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
}
.header-homepage {

	.header-content:before {
		content: "";
		width: 100%;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		height: 100%;
		background: url('/static/img/backgrounds/pattern-a.png') top left repeat;
		opacity: .7;
	}
}

@media(max-width: $media-width-md) {
	.case-header-title {
		font-size: 80px
	}
}
@media(max-height: 480px) {
	.header-background {
		transform:none;
	}
}

@supports (
(perspective: 1px) and
(not (-webkit-overflow-scrolling: touch)) and
(not(-ms-high-contrast: none)) and
(not(-ms-high-contrast: active)) and
(not(-ms-ime-align:auto))
) {
	#application {
		-webkit-perspective: 1px;
		perspective: 1px;
		height: 100%;
	}
	.parallax {
		.video-header-homepage {
			transform: translate3d(-50%, -50%, -1px) scale(2) !important;
		}

		.header-background {
			transform: translateZ(-1px) scale(2);
		}
		[class*="layer_"] {
			position:absolute;
		}

		.layer_front {
			transform: translateZ(-1px) scale(2);
		}
		.layer_middle {
			transform: translateZ(-2px) scale(3);
		}
		.layer_back {
			transform: translateZ(-3px) scale(4);
		}
		.layer_group {
			width:100%;
		}

		position:static;
		z-index:0;
	}
}