.flex-list {
	display: flex;
	justify-content: space-between;
}

.list {
	display:block;
}

.list-item {
	list-style: none;
	display: block;
	white-space: nowrap;
}

.list-horizontal .list-item {
	display: inline-block;
}
.list-vertical .list-item {
	display:block;
}