.list-social-icons {
	width: 220px;
	margin: 0 auto;
	text-align: center;
}

.contact-icons {
	position: relative;
	border: 1px solid transparent;
	border-radius: 25px;
	width:30px;
	height: 30px;
	display: inline-block;
	background-position: center center;
	background-size:100%;
}
.contact-icons:before,
.contact-icons:after {
	content: "";
	border-radius: 25px;
	position: absolute;
	width:100%;
	height: 100%;
	left:0;
	top:0;
	opacity: 0;
}
.contact-icons:before {
	transition:opacity .3s ease-in;
}
.contact-icons:after {
	opacity: 1;
	transform: scale(1.1, 1.1);
}
.contact-icons:hover:before {
	opacity: .8;
	transition:opacity .3s ease-out;
}
.contact-icons:hover:after {
	opacity: 0;
	transform: scale(2, 2);
	transition:opacity .6s ease-out, transform .6s ease-out;
}
.list-social--footer {
	> li {
		margin:0 5px;
	}
	.contact-icons:before {
		background-color:rgba(255, 255, 255, 0.3);
	}
	.contact-icons:after {
		border: 2px solid rgba(255, 255, 255, 0.7);
	}
	.contact-icons:hover {
		border: 2px solid rgba(255, 255, 255, 0.7);
	}
}
.list-social--menu {
	margin: 0 auto;
	text-align: center;

	.list-item {
		margin:0 5px;
	}

	.contact-icons:before {
		background-color:rgba(0, 0, 0, 0.1);
	}

	.contact-icons:after {
		border: 2px solid rgba(0, 0, 0, 0.5);
	}
	.contact-icons:hover {
		border: 2px solid rgba(0, 0, 0, 0.5);
	}
}
.social-icon--linkedin {
	background-image:url($sprites-dir + '/socials/linked.gif');
}
.social-icon-dark--linkedin {
	background-image:url($sprites-dir + '/socials/linked-black.gif');
}
.social-icon--messenger {
	background-image:url($sprites-dir + '/socials/messenger.gif');
}
.social-icon-dark--messenger {
	background-image:url($sprites-dir + '/socials/messenger-black.gif');
}
.social-icon--email {
	background-image:url($sprites-dir + '/socials/mail.gif');
}
.social-icon-dark--email {
	background-image:url($sprites-dir + '/socials/mail-black.gif');
}
.social-icon--whatsapp {
	background-image:url($sprites-dir + '/socials/whatsapp.png');
}
.social-icon-dark--whatsapp {
	background-image:url($sprites-dir + '/socials/whatsapp-black.png');
}