.list-contact {
	position: relative;
}
.list-contact-item {
	font-family: 'Avenir Next LT Pro Regular';
	font-size: 16px;
	margin:15px 0;
	text-transform: uppercase;
}

.list-contact-item-phone {
	font-size: 16px;
}